@model IEnumerable<BookStore.Domain.Entities.Book>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        @await Html.PartialAsync("_BookList", item)
    </div>
}
