.inner-price {
    display: flex;
    align-items: center;
    gap: 10px;
}
.inner-price h5 {
    font-size: 18px;
    color: #28a745;
    margin: 0;
}
.product__item__text h6 a:hover {
    color: #7fad39;
}
.inner-price span {
    font-size: 0.9em;
    font-weight: 400;
    text-decoration: line-through;
}

.inner-price .discount {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #C92127;
    color: #fff;
}
.mix.vegetables.fastfood:hover {
    box-shadow: 0 0 5px #ccc;
}
.mix.vegetables.fastfood {
    margin-bottom: 20px;
    max-width: 22%;
}
.hero__categories {
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 95%;
}

.hero__text {
    margin-left: 500px;
}
.hero__categories ul {
    display: none;
}
.product__item {
    margin-bottom: 20px;
    max-width: 95%;
    padding: 0px 20px 10px 20px;
}

.product__item:hover {
    box-shadow: 0 0 5px #ccc;
}

.product__details__text {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}
.product__item__text {
    font-family: Arial, sans-serif;
}
.hero__categories ul li a:hover {
    color: #7fad39;
}

.filter-ajax {
    display: flex;
    flex-direction: row;
}

#display_fillter_current li a {
    float: right;
    margin-top: 14px;
    margin-right: 5px;
}

#display_fillter_current li {
    float: left;
    padding-right: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgba(247, 148, 30, 0.1);
}

.filter-ajax ol {
    list-style-type: none;
}

#display_fillter_current .btn-remove {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    background: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/btn_remove_orange.png) 0 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
}

#display_fillter_current .label {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    height: 40px;
    width: calc(100% + 15px);
    font-family: sans-serif;
    color: #f7941e;
    font-size: 14px !important;
    padding: 10px 16px 0px 16px;
    display: table-cell;
}

#userIcon:hover {
    cursor: pointer;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shoping__cart__table table tbody tr td.shoping__cart__item h5:hover {
    color: #7fad39;
}

button:hover {
    color: azure;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

#searchResultsContainer {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 360px;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    top: 50px;
    width: 610px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.search-suggestion-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.search-suggestion-item:hover {
    background-color: #f5f5f5;
}

.book-image {
    width: 60px;
    height: 80px;
    object-fit: cover;
    margin-right: 40px;
    border-radius: 4px;
}

.book-details {
    display: flex;
    flex-direction: column;
}

.book-title {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

.book-author,
.book-price {
    font-size: 13px;
    color: #555;
}

.book-price {
    font-weight: bold;
    color: #e91e63;
    margin-top: 5px;
}

.search-advanced {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-advanced i {
    font-size: 18px;
    color: #888;
    margin-right: 8px;
}

.search-advanced p {
    margin: 0;
    font-weight: normal;
}

.search-advanced strong {
    font-weight: bold;
    color: #333;
}

@media (min-width: 992px) {
    .col-lg-9 {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .hero__categories {
        display: none;
    }
}