.inner-price {
    display: flex;
    align-items: center;
    gap: 10px;
}
.inner-price h5 {
    font-size: 18px;
    color: #28a745;
    margin: 0;
}
.product__item__text h6 a:hover {
    color: #7fad39;
}
.inner-price span {
    font-size: 0.9em;
    font-weight: 400;
    text-decoration: line-through;
}

.inner-price .discount {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #C92127;
    color: #fff;
}
.mix.vegetables.fastfood:hover {
    box-shadow: 0 0 5px #ccc;
}
.mix.vegetables.fastfood {
    margin-bottom: 20px;
    max-width: 22%;
}
.hero__categories {
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 95%;
}

.hero__text {
    margin-left: 500px;
}
.hero__categories ul {
    display: none;
}
.product__item {
    margin-bottom: 20px;
    max-width: 95%;
    padding: 0px 20px 10px 20px;
}

.product__item:hover {
    box-shadow: 0 0 5px #ccc;
}

.product__details__text {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}
.product__item__text {
    font-family: Arial, sans-serif;
}
.hero__categories ul li a:hover {
    color: #7fad39;
}
.filter-ajax {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

.filter-text-header {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: black;
    margin-right: 10px;
}

#dislay_fillter_current li a {
    float: right;
    margin-top: 14px;
    margin-right: 5px;
}

#dislay_fillter_current li {
    float: left;
    padding-right: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgba(247, 148, 30, 0.1);
}

.filter-ajax ol {
    list-style-type: none;
}

#dislay_fillter_current .btn-remove {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    background: url(https://cdn0.fahasa.com/skin/frontend/base/default/images/btn_remove_orange.png) 0 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
}

#dislay_fillter_current .label {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
    height: 40px;
    width: calc(100% + 15px);
    font-family: sans-serif;
    color: #F7941E;
    font-size: 14px !important;
    padding: 10px 16px 0px 16px;
    display: table-cell;
}

#userIcon:hover {
    cursor: pointer;
}

