<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <!-- DataTales Example -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center position-relative">
            <div class="iq-header-title">
                <h4 class="mb-0">Book Lists</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="StockTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Account ID</th>
                            <th>Tên đầy đủ</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Chức danh</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(() => {
            $('#StockTable').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": true,
                "paging": true,
                "responsive": true,
                "pageLength": 10,
                "lengthMenu": [5, 10, 25, 50],
                "ajax": {
                    "url": '@Url.Action("GetAccounts", "Account")',
                    "type": "GET",
                    "data": function (d) {
                        d.searchValue = d.search.value;
                    }
                },
                "columns": [
                    { "data": "id" },
                    { "data": "fullName" },
                    { "data": "email" },
                    { "data": "phone" },
                    { "data": "address" },
                    { "data": "roleName" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `
                                              <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#orderDetailsModal" data-order-id="${row.id}">Vô hiệu hóa</button>
                                               `;
                        },
                        "orderable": false
                    }
                ],
                "order": [[0, "asc"]]
            });
        });
    </script>
}
