<div class="hero__item set-bg" data-setbg="img/banner/banner.webp">
    <div class="hero__text">
        <span>J.D. Kurtness</span>
        <h2>De Vengeance</h2>
        <p>Cover up front of book and leave summary</p>
        <a href="#" class="primary-btn">SHOPPING NOW</a>
    </div>
</div>