@model IEnumerable<BookStore.Domain.Entities.Book>
<div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
    <div class="featured__item">
        <div class="featured__item__pic set-bg"
             data-setbg="img/featured/attack-on-titan.jpg">
            <ul class="featured__item__pic__hover">
                <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
        <div class="featured__item__text">
            <h6>
                <a asp-controller="Item" asp-action="GetBookDetail" asp-route-id=1>
                    Combo Sách Giáo Trình Chuẩn HSK 1 - Sách Bài Học Và Bài Tập (Bộ
                    2 Cuốn)
                </a>
            </h6>
            <div class="inner-price">
                <h5>$24.00</h5>
                <span>$30.00</span>
                <div class="discount">-22%</div>
            </div>
        </div>
    </div>
</div>
