@using BookStore.Application.Services
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/img/logo.png" alt="logo" />
        </a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#!"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li>
                <a asp-controller="Cart" asp-action="ShoppingCart">
                    <i class="fa fa-shopping-bag"></i> <span>3</span>
                </a>
            </li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="~/img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#!">Spanis</a></li>
                <li><a href="#!">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="Products">Product</a></li>
            <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#!"><i class="fa fa-facebook"></i></a>
        <a href="#!"><i class="fa fa-twitter"></i></a>
        <a href="#!"><i class="fa fa-linkedin"></i></a>
        <a href="#!"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
              <li>Free Shipping for all Order of $99</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#!"><i class="fa fa-facebook"></i></a>
              <a href="#!"><i class="fa fa-twitter"></i></a>
              <a href="#!"><i class="fa fa-linkedin"></i></a>
              <a href="#!"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
              <img src="~/img/language.png" alt="" />
              <div>English</div>
              <span class="arrow_carrot-down"></span>
              <ul>
                <li><a href="#!">Spanis</a></li>
                <li><a href="#!">English</a></li>
              </ul>
            </div>
                <div class="header__top__right__auth no-select" id="navbarCheck">
                @inject IUserService userService
                @{
                    var user = userService.GetCurrentUser();
                    int quantity = user != null ? userService.SetCartDetailTotalInSession(user) : 0;
                }
                @if (user != null)
                {
                    <a id="userIcon"><i class="fa fa-user"></i> @user.Email</a>
                    <ul class="dropdown-menu dropdown-menu-end" id="menuLink" style="display: none; margin-left: 300px">
                        <li class="d-flex align-items-center flex-column" style="min-width: 300px">
                            <img src="@user.Avatar" alt="User Avatar" style="width: 150px; height: 150px; border-radius: 50%; overflow: hidden;" />
                            <div class="text-center my-3">
                                 <span>@user.FullName</span>
                            </div>
                        </li>
                        <li><a class="dropdown-item" href="/my-profile">Account</a></li>
                        <li><a class="dropdown-item" href="/account/mypurchase">Order history</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <form method="post" asp-controller="Auth" asp-action="Logout">
                                @Html.AntiForgeryToken()
                                <button class="dropdown-item">Logout</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <a asp-controller="Auth" asp-action="Login" class="check-login"><i class="fa fa-user"></i>Login</a>
                }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a asp-controller="Home" asp-action="Index"
            ><img src="~/img/logo.png" alt=""
          /></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul id="menu-tunguyen">
            <li class="active">
              <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li><a asp-controller="Home" asp-action="Products">Products</a></li>
            <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li>
              <a asp-controller="Cart" asp-action="ShoppingCart"><i class="fa fa-shopping-bag"></i>
                  <span id="sumCart">
                       @quantity
                  </span>
              </a>
            </li>
          </ul>
          <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
