@model IEnumerable<BookStore.Domain.Entities.Category>
<div class="hero__categories">
    <div class="hero__categories__all">
        <i class="fa fa-bars"></i>
        <span>Browse categories</span>
    </div>
    <ul>
        @foreach (var category in Model)
        {
            <li><a href="/home/products?page=1&sort=0&genres=@category.Name">@category.Name</a></li>
        }
    </ul>
</div>
